In [17]:
import pandas as pd

In [18]:
kalpi = pd.read_csv(r"./data/kalpies_report_tofes_b_18.3.21.csv")

In [19]:
distinct_kalpi = kalpi.drop_duplicates()

In [20]:
distinct_kalpi["street"] = distinct_kalpi.apply(lambda x : "" if x["street"] == x["city"] else x["street"],axis=1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
distinct_kalpi

             city           street country
0         ירושלים      מגן האלף 1   Israel
6         ירושלים    פישל אהרן 29   Israel
10        ירושלים   שבטי ישראל 27   Israel
11        ירושלים          נטר 40   Israel
12        ירושלים      מגן האלף 3   Israel
...           ...              ...     ...
12114       רעננה  משה וילנסקי 64   Israel
12116  שדה ורבורג   דרך ההדרים 22   Israel
12118     שדי חמד        סמטת שיטה  Israel
12119     שדי חמד                   Israel
12120  שערי תקווה             בזלת  Israel

[3771 rows x 3 columns]